<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>镜像站@Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述 JS 路径需要改成你本地的 -->
</head>
<body>
<br>
<form class="layui-form" action="" id="form1">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" id="name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-inline">
                <input type="text" name="order_id" id="order_id" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">课程名称</label>
            <div class="layui-input-inline">
                <input type="text" name="course_name" id="course_name" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button" onclick="doSearch();" class="layui-btn layui-btn-sm" lay-submit="" lay-filter="demo1">Search</button>
            <button type="reset" class="layui-btn layui-btn-sm">Reset</button>
        </div>
    </div>
</form>
<table class="layui-hide" id="test"  lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>





<script>
    var $, table;
    layui.use('table', function(){
        table = layui.table;
        $ = layui.$;
        table.render({
            elem: '#test'
            ,url:'/courseorder/listjson'/*tpa=http://www.layui.com/test/table/demo1.json*/
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户数据表'
            ,cols: [
                [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'uuid', title:'ID', width:120}
                ,{field:'order_id', title:'订单号', width:120, }
                ,{field:'name', title:'姓名', width:150}
                ,{field:'course_name', title:'课程名称', width:150, }
                ,{field:'course_price', title:'课程价格', width:150}
                ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
            ]
            ]
            ,page: true
            ,limit: 7
            ,limits:[7,8,9,10]
            ,id: 'orderTable'
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;
                case 'add':
                    parent.layer.open({
                        type:2,//2跳转到页面
                        offset: 'auto',
                        title:'添加课程订单',
                        content:'/courseorder/add',
                        area: ['1000px', '600px'],
                        btn:'关闭全部',
                        btnAlign:'c',
                        yes:function () {
                            parent.layer.closeAll();
                        }
                    })
                    break;
            };
        });

        //触发行双击事件
        table.on('rowDouble(test)', function(obj){
            //obj 同上
            console.log(obj);
            var orderId = obj.data.order_id;
            console.log(orderId);
            parent.layer.open({
                type:2,//2跳转到页面
                offset: 'auto',
                title:'课程订单详情',
                content:'/courseorder/detail?order_id='+orderId,
                area: ['1000px', '500px'],
                btn:'关闭全部',
                btnAlign:'c',
                yes:function () {
                    parent.layer.closeAll();
                }
            })
        });
        //
        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            var orderId = obj.data.order_id;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                    $.get("/courseorder/delete",{order_id:orderId},function (responseData) {
                        console.log(responseData)
                        if(responseData.success == 1){
                            layer.msg("删除成功")
                        }else{
                            layer.msg("删除失败")
                        }
                    })
                });
            } else if(obj.event === 'edit'){
                //obj 同上
                console.log(obj);
                var orderId = obj.data.order_id;
                console.log(orderId);
                parent.layer.open({
                    type:2,//2跳转到页面
                    offset: 'auto',
                    title:'修改订单详情',
                    content:'/courseorder/edit?order_id='+orderId,
                    area: ['1000px', '500px'],
                    btn:'关闭全部',
                    btnAlign:'c',
                    yes:function () {
                        parent.layer.closeAll();
                    }
                })
            }
        });
    });
    function doSearch() {
        var name = $("#name").val()
        var order_id = $("#order_id").val()
        var course_name = $("#course_name").val()
        console.log(name+order_id+course_name)
        table.reload('orderTable', {
            where: {
                name:name,
                order_id:order_id,
                course_name:course_name
            } //设定异步数据接口的额外参数
            //,height: 300
            ,page: {
                curr:1
            }
        });

    }
</script>

</body>
</html>